* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.panel-component {
  margin: 20px;
}
